sudo: false
language: node_js
node_js:
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"
before_install:
  - if [[ `npm -v` =~ ^[1-2] ]]; then npm i -g npm@3; fi
before_script:
  - npm uninstall grunt # https://github.com/npm/npm/issues/3958
matrix:
  fast_finish: true
