sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "iojs"
before_install:
  - npm install -g npm
before_script:
  - npm install -g grunt-cli
  - npm uninstall grunt # https://github.com/npm/npm/issues/3958
matrix:
  fast_finish: true
