# Fix line endings on Windows
init:
  - git config --global core.autocrlf true
# What combinations to test
environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "4"
    - nodejs_version: "5"
    - nodejs_version: "6"
    - nodejs_version: "7"
    - nodejs_version: "8"
platform:
  - x86
  - x64
install:
  - ps: Install-Product node $env:nodejs_version
  - if [[ `node -v` =~ ^[0-4] ]]; then npm i -g npm@3; fi
  - npm install
test_script:
  # Output useful info for debugging.
  - node --version && npm --version
  # We test multiple Windows shells because of prior stdout buffering issues
  # filed against Grunt. https://github.com/joyent/node/issues/3584
  - ps: "npm test # PowerShell" # Pass comment to PS for easier debugging
  - cmd: npm test
build: off
matrix:
  fast_finish: true
cache:
  - node_modules -> package.json                                        # local npm modules
